.features-section{
    margin-top: 140px;
    padding: 10px 5px;
    min-height: 75vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.145), rgba(0, 0, 0, 0.196)), url('../../photos/1-1\ \(1\).jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.features-section > div{ 
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-end;
    min-height: 75vh;
}