header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 2;
}
.header-change-bg{
    background-color: #4575bd;
    transition-delay: all .01s ease;
}
.header-change-bg > div > nav:first-child{
    display: none;
}
.header-change-bg > div > nav:last-child{
    padding: 0;
}

header > div{
    max-width: 1200px;
    padding: 0 5px;
    margin: 0 auto;
}
nav, ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
nav:last-child{
    padding: 20px 0;
}
.small-nav{
    font-size: 14px;
}
.main-nav{
    font-weight: 700;
}
li{
    list-style-type: none;
    margin: 0 10px;
}
li:first-child{
    margin-left: 0;
}
header a{
    color: white;
    text-decoration: none;
}
.change-header-bg{
    background-color: #336bb8;
}
.change-header-bg > nav{
    max-width: 1200px;
    margin: 0 auto;
}