nav, ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
nav:last-child{
    padding: 20px 0;
}
.small-nav{
    font-size: 14px;
}
.main-nav{
    font-weight: 700;
}
li{
    list-style-type: none;
    margin: 0 10px;
}
li:first-child{
    margin-left: 0;
}
a{
    color: white;
    text-decoration: none;
}

.change-header-bg{
    background-color: #336bb8;
}
.change-header-bg > nav{
    max-width: 1200px;
    margin: 0 auto;
}