@import '../../../SASS/variables';

.home-services {
    max-width: 1200px;
    margin: 70px auto;
    display: flex;
    gap: 0 35px;
    .left {
        background-color: $my-primary;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px 0;
        padding: 35px;
        min-width: 200px;
        h2 {
            margin-top: 0;
            font-weight: 400;
        }
        a {
            color: #b5cbed;
            text-decoration: none;

            &:hover {
                color: white;
            }
        }
        button {
            background-color: transparent;
            padding: 0;
            border: 0;
            color: white;
            margin-top: 30px;
            cursor: pointer;
        }
    }

    .right {
        max-width: calc(1200px - 305px);
        position: relative;
        span {
            color: $my-accent;
        }
        h2 {
            margin-top: 0;
            font-weight: 500;
            margin-bottom: 30px;
        }
        .slider-container {
            position: static;
            .swiper-wrapper {
                .swiper-slide {
                    font-size: 18px;
                    background: #fff;
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    h3 {
                        font-weight: 500;
                        margin: 15px 0;
                        a {
                            font-size: 18px;
                            color: $my-primary;
                            text-decoration: none;

                            &:hover {
                                color: gray;
                            }
                        }
                    }
                    p{
                        font-size: 14px;
                        color: gray;
                    }
                }
            }
            .swiper-button-prev::after,
            .swiper-button-next::after {
                font-size: 10px !important;
                color: gray;
                border: 1px solid gray;
                padding: 8px 10px;
            }
            .swiper-button-prev,
            .swiper-button-next {
                position: absolute;
                top: 28px;
                &:hover::after {
                    background-color: $my-primary;
                    color: white;
                    transition-duration: .2s;
                }
            }
            .swiper-button-prev{
                left: calc(100% - 53px);
            }
            .swiper-button-next {
                right: 0;
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    .home-services{
        gap: 10px;
    }
}
@media screen and (max-width: 1200px) {
    .home-services{
        gap: 30px;
        .right{
            width: calc(100% - 305px);
        }
    }
}
@media screen and (max-width: 1038px) {
    .home-services{
        .right{
            margin: 0 auto;
        }
    }
}
@media screen and (max-width: 650px) {
    .home-services{
        gap: 10px;
        margin: 0 5px;
        display: block;
        .left{
            min-width: 150px;
        }
        .right{
            width: 100%;
        }
    }
    
}