.make-admin{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.make-admin thead th{
    min-width: 50px;
}
.make-admin button{
    background-color: #336bb8;
    color: white;
    border-color: transparent;
    cursor: pointer;
}
