.percentage{
    background-color: #0392ce;
    color: white;
}
.percentage > div{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.percentage > div > div{
    margin: 0 auto;
    text-align: center;
}
.percentage > div > div > h1{
    font-size: 36px;
    margin-bottom: 0;
    font-weight: 400;
}
.percentage > div > div > p{
    font-size: 20px;
    margin-top: 10px;
}

@media screen and (max-width: 1024px) {
    .percentage > div{
        gap: 10px;
        flex-wrap: wrap;
    }
}