.partners{
    max-width: 1200px;
    margin: 40px auto;
}
.partners h3{
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 0;
}
.partners div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 600px){
    .partners div{
        flex-wrap: wrap;
    }
}