@import '../../../SASS/variables';

.home-doctors {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 60px;

    p {
        color: $my-accent;
        margin: 0;
    }
    h2 {
        margin-top: 0;
        font-weight: 400;
    }

    .doctors-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 25px;
        div {
            overflow: hidden;
            img {
                width: 100%;
                &:hover{
                    transform: scale(1.1);
                    transition: .5s;
                }
            }
            div:first-child{
                padding:0;
                border: 0;
            }
            div:nth-child(2){
                border-top: 0;
            }
            div:nth-child(3){
                p{
                    color: gray;
                }
            }
            div {
                padding: 10px 20px;
                border: 1px solid rgba(199, 194, 194, 0.477);
                h3 {
                    margin: 0;
                    font-weight: 400;

                    a {
                        color: $my-accent;
                        text-decoration: none;
                        &:hover{
                            color: black;
                            transition-duration: .5s;
                        }
                    }

                    span {
                        font-size: 14px;
                    }
                }
                p {
                    display: flex;
                    align-items: center;
                    color: black;
                    font-size: 14px;
                    i {
                        font-size: 14px;
                        color: black;
                    }
                }
                p:first-child{
                    margin: 0;
                }
                p:last-child{
                    margin-top: 5px;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .home-doctors{
        .doctors-container{
            grid-template-columns: auto auto;
            margin: 0 5px;
        }
    }
}
@media screen and (max-width: 640px) {
    .home-doctors{
        .doctors-container{
            grid-template-columns: auto;
        }
    }
}