.banner{
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.banner > div{
    max-width: 1200px;
    margin: 0 auto;
    min-height: 80vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.banner > div {
    color: white;
}
.banner p{
    font-size: 20px;
    margin-bottom: 10px;
}
.banner h1 {
    font-size: 40px;
    margin: 0;
    font-weight: 400;
}
.header-first-div button{
    cursor: pointer;
    color: white;
    background: transparent;
    padding: 15px 20px;
    border: 1px solid white;
    margin-top: 40px;
    margin-right: 20px;
    font-size: 18px;
}
.header-slider-btn{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.header-slider-btn button{
    margin: 0 3px ;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}
.header-slider-btn button:hover{
   color: black;
}


@media screen and (max-width: 1024px) {
    .banner > div{
        min-height: 100vh;
    }
    .banner > div p{
        margin-top: 35%;
    }
    .header-first-div button{
        padding: 8px 14px;
        font-size: 20px;
        margin-top: 16px;
    }
}
@media screen and (max-width: 600px){
    .banner h1{
        font-size: 20px;
        margin: 0;
    }
    .header-first-div button{
        padding: 3px 8px;
        font-size: 16px;
        margin-top: 16px;
    }
    .header-slider-btn button{
        font-size: 12px;
        margin: 0 1px;
    }
}