.banner{
    /* background-image: url('../../../photos/bg-1.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
}
.banner > div{
    max-width: 1200px;
    margin: 0 auto;
    height: 80vh;
}